@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300;400;500&display=swap');

body {
  display: flex;
  flex-direction: column;
  background: #0cebeb;
  background: -webkit-linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  background: linear-gradient(to right, #29ffc6, #20e3b2, #0cebeb);
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  overflow: hidden;
  margin: 0px;
}

.box {
  display: flex;
  background-color: #d4ffdc;
  margin-top: 5vh;
  height: 90vh;
  margin-left: 5%;
  border-radius: 15px;
  width: 90%;
  justify-content: flex-end;
  align-items: center;
}

.login-area {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 50%;
  background-color: #f5f6f7;
  border-radius: 0px 15px 15px 0px;
}

.login-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 50%;
  
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form-text {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.login-form-input{
  height: 50px;
  width: 100%;  
  margin-top: 0px;
  border: #bababa solid 0.3px;
  border-radius: 25px;
  padding-left: 1em;
  font-size: 1em;
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
}

.login-form-input:focus::placeholder {
  color: white;
  transition: 0.5s;
}

.login-form-options {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 0%;
  gap: 29%;
}

.login-form-save {
  display: flex;
  align-items: center;
}
.login-form-save p {
  font-size: 0.9em;
}

.login-form-checkbox {
  accent-color: #0cebeb;
}

.login-form-help a{
  text-decoration: none;
  font-size: 0.9em;
  color: #146e42;
}

.login-form-buttonalign {
  width: 100%;
  display: flex;
  justify-content: center;
}

.login-form-button {
  font-family: "Fredoka", Arial, Helvetica, sans-serif;
  height: 40px;
  width: 80%;
  margin-top: 20px;
  border: none;
  border-radius: 15px;
  background-color: #cbf7d7;
  color: #2b4732;
  transition: 0.5s;
  font-size: 1em;
}

.login-form-button:hover {
  background-color: #7ec491;
  height: 40px;
  width: 85%;
  transition: 0.1s;
}

.login-title {
  font-size: 2rem;
  font-weight: 400;
}

.login-newacc {
  margin-top: 30px;
  font-size: 0.9rem;
}

.login-newacc a {
  color: #146e42;
  text-decoration: none;
}

.image-area{
  width: 50%;
  height: 100%;
}

.image-area img {
  height: 100%;
  border-radius: 15px 0px 0px 15px;
}